body 
{
   
    margin: 0;
}

.main {
    padding: 0;
    left: 175px;
    word-wrap: break-word;
    overflow: hidden;
    position: absolute;
    background-color: #35276D;
    margin: auto;
    border-radius: 30px;
    width: 70%;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    top: 100px;
    font-family: 'Favorit', sans-serif, "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
}

    .main h1 {
        font-size: 50px;
    }

    .main a {
        color: mediumpurple;
    }
.fondo img 
{
    width: 100%;
}