
<html>
<head>
    <link href="~/estilos.css" rel="stylesheet" />
    <title>Villancicos</title>
</head>
<body>
    <header>
        <h1>Villancicos</h1>
        <h2>Feliz Navidad</h2>
    </header>
    <main>
        <div class="menu">
            <a href="~/" class="active">Todos</a>
            <a href="~/Ingles">En inglés</a>
            <a href="~/Español">En español</a>
        </div>
        @RenderBody()
    </main>
    <footer>
        Programación Web - Unidad 2
    </footer>
</body>
</html>