
<!DOCTYPE html>
<html>
<head>
    <title>Unidad 1</title>
    <link href="~/StyleSheetIndex.css" rel="stylesheet" />
</head>
<body>
    
    
    <header>
        <section class="main">
            <h1>Programacion Web</h1>
            <h2>Noveno Semestre</h2>
            <h2>Agosto-Diciembre</h2>
            <h2>ILSE CECILIA BRIONES ZUÑIGA</h2><br />
            <a href="~/Home/MiPerfil">Ver Perfil de tumblr :^)</a>
        </section>
    </header>
       
        <div class="fondo" >
        <img src="~/images/fondo1.jpg" />
        </div>
    
</body>
</html>