

<!DOCTYPE html>
<html>
<head>
    <title>Tumblr</title>

    <link href="~/style.css" rel="stylesheet" />
</head>
<body>
    <header class="menuHorizontal">
        <nav class="nav1">

            <a class="logo"> <img src="~/images/tumblr (2).png" /></a>
            <img class="sr" src="~/images/serch.png" />
            <input class="Serch1" type="search" placeholder=" Buscar en Stigma Queen" />

            <ol class="nav-menu2">
                <li class="nav-menu-item">
                    <a class="nav-menu-link"><img src="~/images/home.png" /></a>
                </li>
                <li class="nav-menu-item"> <img src="~/images/eye.png" /></li>
                <li class="nav-menu-item"> <img src="~/images/palette.png" /></li>
                <li class="nav-menu-item"> <img src="~/images/settings.png" /></li>

            </ol>
        </nav>
    </header>
    <div>
        <div class="portada">
            <img src="~/images/simios-arcoiris.jpg" />
        </div>
        <div class="inf">
            <img class="Blogg-perfile" src="~/images/pp.jpg" />
            <h1>Stigma Queen</h1>
            <h3>Tener el poder para revolucionar el mundo...</h3>
            <div class="ddd">
                <section class="ttt">
                    <div class="ptd">
                        <div class="pt">
                            <div class="ptss">
                                <p class="par">
                                    Te amo Howl... ♡♡♡ -Pelicula; Castillo Vagabundo
                                </p>
                                <img class="im" src="~/images/howl.jpg" />

                            </div>
                        </div>
                    </div>

                </section>
                <section class="panel">
                    <nav class="n">
                        <img class="n2" src="~/images/corazon.png" />
                    </nav>

                </section>
            </div>
            <div class="ddd">
                <section class="ttt">
                    <div class="ptd">
                        <div class="pt">
                            <div class="ptss">
                                <p class="par">
                                    Quiero una herida hecha por ti... ♡♡♡ -Manga; Berserk
                                </p>
                                <img class="im" src="~/images/casca-gutss.jpg" />

                            </div>
                        </div>
                    </div>

                </section>
                <section class="panel">
                    <nav class="n">
                        <img class="n2" src="~/images/corazon.png" />
                    </nav>

                </section>
            </div>
        </div>

    </div>
</body>
</html>

