

@model IEnumerable<Villancicos.Models.Villancico>
@{ Layout = "Layout2";}

<ul>

    @foreach (var lista in Model)
    {
        <li><a href="~/Villancico/@lista.Nombre.Replace(" ","-")">@lista.Nombre</a></li>
    }
</ul>