

@model IEnumerable<Villancicos.Models.Villancico>
@{ Layout = "Layout";}

<div class="menu">
    <a href="~/" class="active">Todos</a>
    <a href="~/Ingles">En inglés</a>
    <a href="~/Español">En español</a>
</div>
<ul>

    @foreach (var lista in Model)
    {
        <li><a href="~/Villancico/@lista.Nombre.Replace(" ","-")">@lista.Nombre</a></li>
    }
</ul>